*
{
	margin: 0;
	padding: 0;
}

html
{
	background-color: black;
	font-family: 'Titillium Web','Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
	font-size: 0.875em; /* em for scailing */
}

a
{
	text-decoration: none;
	color: white;
}

a:hover
{
	text-decoration: underline;
}


.wrapper
{
	width: 100%;
}

/* om man har stor skärm*/
@media only screen and (min-width: 1367px)
{
	.wrapper
	{
		width: 70%;
		margin: 0 auto;
	}
}

.header
{
	position: relative;
	width: 100%;
	height: 13%;
	/*min-width: 1170px;
	min-height: 130px;*/
}

.content
{
	justify-content: space-around;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 15px;
	width: 100%;
	align-items: flex-start;
	position: relative;
}

.logo
{
	position: absolute;
	margin-right: 0;
	display: inline-block;
	height: 100%;
	width: 10%;
	top:0;
	left: 0;
	z-index: 2;
}

.navbar
{
	position: absolute;
	margin-left: 0;
	display: inline-block;
	height: 50%;
	max-width: 90%;
	width: 90%;
	top: 0;
	right: 0;
}

.menu
{
	right: 0;
	position: absolute;
	height: 50%;
	max-width: 90%;
	width: 90%;
	bottom: 0;
	display: inline-block;
}

.search
{
	bottom: 0;
	top: auto;
	right: auto;
	float: right;
	position: relative;
	max-width: 25%;
	height: 100%;
	display: inline-block;
}

.search form
{
	margin-right: 25px;
	top: 30;
	position: relative;
}

.search input
{
	background-color: grey;
	background-image: url("../img/search.svg");
	background-position: right 10px top;
	background-repeat: no-repeat;
	border: none;
	padding: 10px 36px 10px 10px;
}

.item
{
	/*margin:0 auto;*/
	display: inline-block;
	height: 300px;
	width: 300px;
	min-height: 300px;
	min-width: 300px;
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
}

.item .image-container
{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.item .image-title
{
	color: white;
	background: rgba(96, 191, 240, 0.7);
	display: inline-block;
	padding: 5px;
	
}

.item .image-text
{
	color: white;
	background: rgba(255, 255, 255, 0.7);
	padding: 5px;
	color: black;
	font-size: 1.4em;
	display: inline-block;
}

#jumbo .image-container
{
	max-width: 50%;
	margin-left: 25px;
	margin-bottom: 25px;
}

.double
{
	width: 633px;
}

.double-image
{
	position: absolute;
	width: 50%;
	left: 0;
	top: 0;
}

.double-text
{
	position: absolute;
	max-width: 50%;
	height: 100%;
	background-color: white;
	right:0;
	top: 0;
	padding-top: 5px;
	padding-left: 5px;
	z-index: 4;
}

.item.news
{
	background-image: url(https://pbs.twimg.com/profile_images/562466745340817408/_nIu8KHX.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.double-text h2
{
	color: #0080AA;
}

.jumbo
{
	overflow: hidden;
    background-size: cover; 
	background-image: url("../img/earth2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	width: 1300px;
}

.item img
{
	/*min-height: 100%;*/
	max-width:100%;
	/*max-height:100%;*/
}


.logo img
{
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	max-width:100%;
	max-height:100%;
}

.links
{
	position: relative;
	min-height: 100%;
	max-width: 80%;
	float: right;
	min-width: 700px;
}

.links ul li a
{
	text-decoration: none;
}

.links ul
{
	/*list-style-type: none;*/
	position: absolute;
	bottom: 15px;
	font-size: 0;
}

.links ul li
{
	font-size: initial;
	padding-bottom: 15px;
	padding-top: 15px;
	display: inline;
	color: white;
	border-right: 1px solid white;
	padding-right: 5px;
	padding-left: 5px

}

.links ul li:hover
{
	background-color: blue;
}

.links ul li:last-of-type
{
	padding-right: 0;
	margin-right: 25px;
	border-right: none;
}

.menu ul
{
	list-style-type: none;
	position: absolute;
	bottom: 14px;
	margin-left: 25px;
	font-size: 0;
	
}

.menu ul li
{
	display: inline;
	color: white;
}

.menu ul li a
{
	background-color: #555;
	text-decoration: none;
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 10px;
	font-size: 12px;
	border-right: 1px solid white;
}

.menu ul li:last-of-type a
{
	border-right: none;
}

.menu ul li a:hover
{
	background-color: #b7b7b7;
}

.item.text
{
	color: white;
	background-color: #428bca;
}

.text-container
{
	position: relative;
	padding: 10px;
	width: 90%;
	height: 90%
}

.text-container a
{
	color: white;
}

.text-container h3
{
	border-bottom: 1px solid white;
}

.text-container-content
{
	margin-top: 10px;
}

.text-container-footer
{
	border-top: 1px solid white;
	position: absolute;
	bottom: 0;
	width: 90%;
	padding-top: 5px;
}

.video-image
{
	position: absolute;
	top: 112.5px;
	left: 112.5px;
}

.news:hover .image-container
{
	height: 100%;
}

.news:hover .image-title
{
	display: block;
}

.news:hover .image-text
{
	height: 86%;
	overflow: hidden;
}

.cont
{
	display: none;
}

.news:hover .cont
{
	display: initial;
}

.test
{
	width: 100px;
	height: 100px;
	z-index: 3;
	position: absolute;
	background-color: white;
	left: 266.5px;
	top: 100px;
	transform: rotate(45deg);
}