html
{
	background-color: black;
	font-family: 'Titillium Web','Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
	font-size: 0.875em; /* em for scailing */
}

body
{
	background-color: black;
	margin-top: 15px;
}

a
{
	text-decoration: none;
	color: white;
}

a:hover
{
	text-decoration: underline;
}

.navbar-inverse
{
	background-color: black;
	border: none;
}

.item
{
	color: black;
	margin-bottom: 20px;
	height: 300px;
	position: relative;
	overflow: hidden;
	padding: 0;
}

.menu li
{
	background-color: #555;
}

.menu li:hover
{
	background-color: #b7b7b7;
}

.menu li a
{
	/*font-size: 0.83vw;*/
	padding: 5px 10px;
}

.navbar-nav.links li a
{
	border-right: 1px solid white;
}

.navbar-nav.links li:last-of-type a
{
	border-right: none;
}

.navbar-nav.links li a:hover
{
	background-color: blue;
}

.navbar-nav.menu li a
{
	border-right: 1px solid white;
}

.navbar-nav.menu li:last-of-type a
{
	border-right: none;
}

#jumbo
{
	background-size: cover; 
	background-image: url("../img/earth2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

#jumbo .image-container
{
	max-width: 50%;
	max-height: 80%;
	left: 25px;
	bottom: 25px;
	position: absolute;
}

.item img
{
	max-width:100%;
}

.item .image-title
{
	color: white;
	background: rgba(96, 191, 240, 0.7);
	display: inline-block;
	padding: 5px;
	margin: 0;
}

.item .image-text
{
	color: white;
	background: rgba(255, 255, 255, 0.7);
	padding: 5px;
	color: black;
	font-size: 1.4em;
	display: inline-block;
	margin: 0;
}

.text-item
{
	color: white;
	background-color: #428bca;
	padding: 5px;
}

.text-container
{
	position: relative;
	width: 90%;
	height: 95%
}

.text-container a
{
	color: white;
}

.text-container h3
{
	margin-top: 10px;
	border-bottom: 1px solid white;
}

.text-container-content
{
	margin-top: 10px;
}

.text-container-footer
{
	border-top: 1px solid white;
	position: absolute;
	bottom: 0;
	width: 90%;
	padding-top: 5px;
}

.news-item
{
	padding: 0;
	background-image: url("https://pbs.twimg.com/profile_images/562466745340817408/_nIu8KHX.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

.news-item .image-container
{
	position: absolute;
	bottom: 0;
	left: 0;
}

.news-item:hover .image-container
{
	height: 100%;
}

.news-item:hover .image-title
{
	display: block;
}

.news-item:hover .image-text
{
	height: 86%;
	overflow: hidden;
}

.cont
{
	display: none;
}

.news-item:hover .cont
{
	display: initial;
}

.double
{
	position: relative;
}

.double-image
{
	position: absolute;
	width: 50%;
	left: 0;
	top: 0;
	height: 100%;
}

.double-text
{
	position: absolute;
	max-width: 50%;
	height: 100%;
	background-color: white;
	right:0;
	top: 0;
	padding-top: 5px;
	padding-left: 5px;
	z-index: 3;
	line-height: 1.25;
}

.double-text h2
{
	color: #0080AA;
}

.double-image img
{
	max-width:100%;
	height:100%;
}

.double-square
{
	width: 100px;
	height: 100px;
	z-index: 3;
	position: absolute;
	background-color: white;
	right: calc(50% - 50px);
	top: calc(50% - 50px);
	transform: rotate(45deg);
}

.item video
{
	max-width: 100%;
}

.article-text
{
	word-wrap: break-word;
}

.search
{
	bottom: 0;
	top: auto;
	right: auto;
	float: right;
	position: relative;
	max-width: 25%;
	height: 100%;
	display: inline-block;
}

.search form
{
	margin-right: 25px;
	top: 30;
	position: relative;
}

.search input
{
	background-color: grey;
	background-image: url("../img/search.svg");
	background-position: right 10px top;
	background-repeat: no-repeat;
	border: none;
	padding: 10px 36px 10px 10px;
	width: 200px;
	margin-left: 15px;
}

.search-results-container
{
	width: 200px;
	position: absolute;
	background-color: grey;
	margin-left: 15px;
	z-index: 5;
	overflow: hidden;
	display: none;
}

.search-results
{
	list-style-type: none;
	margin: 0;
	padding: 5px;
	line-height: 1.7em;
}